
.hor{
    font-size: 200px;
    background-image: url(x.jpg);
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    color:transparent;
    text-align: center;
    font-weight: bolder;
}
body{
    background-image: url(y.jpg);
    background-size: cover;
}
h1{
    margin-top: 200px;
}
